absl-py
asttokens
astunparse
blinker
cachetools
certifi
charset-normalizer
click
colorama
comm
contourpy
cycler
debugpy
decorator
executing
Flask
flatbuffers
fonttools
gast
google-auth
google-auth-oauthlib
google-pasta
grpcio
gunicorn
h5py
idna
ipykernel
ipython
ipython-pygments-lexers
itsdangerous
jedi
Jinja2
joblib
jupyter-client
jupyter-core
keras
kiwisolver
libclang
Markdown
MarkupSafe
matplotlib
matplotlib-inline
ml-dtypes
nest-asyncio
numpy
oauthlib
opt-einsum
packaging
pandas
parso
pillow
platformdirs
prompt-toolkit
protobuf
psutil
pure-eval
pyasn1
pyasn1-modules
Pygments
pyparsing
python-dateutil
pytz
pyzmq
requests
requests-oauthlib
rsa
scikit-learn
scipy
six
stack-data
tensorboard
tensorboard-data-server
tensorflow
tensorflow-estimator
tensorflow-intel
tensorflow-io-gcs-filesystem
termcolor
threadpoolctl
tornado
traitlets
typing-extensions
tzdata
urllib3
wcwidth
Werkzeug
wrapt
